{% extends "layout.html.twig" %}

{% block content %}
    <h1>{% if handicap.id %}Modification{% else %}Création{% endif %} handicap</h1>
    <form method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" value="{{ handicap.name }}">
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a href="{{ path('admin_handicap') }}" class="btn btn-default">Annuler</a>
    </form>
{% endblock %}